/* * {
  overflow: auto;
} */

/* .search-results {
  margin-right: 10px;
  margin-left: 10px;
} */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("../images/Dream.jpeg");
  background-size: cover;
  background-position: center;
  transition-property: background-image;
  transition-duration: 2s;
  transition-timing-function: linear;
  overflow-y: scroll;
}

header h1 {
  font-family: 'Fredoka One', sans-serif;
  mix-blend-mode: difference;
}

header h4, h5 {
  font-family: 'Fredoka One', sans-serif;
  opacity: 80%;
}

main {
  flex: 1 0 auto;
}
li{
  margin: 0 10px;
}


header {
  overflow: hidden;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif
}

.recom {
  text-align: left;
}

/* .search-results {
  display: flex;
} */

#movieList,
#gameList,
#bookList {

  background-color: rgba(255, 255, 255, .5);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#movieList h3,
#gameList h3,
#bookList h3 {
  font-weight: bold;
  font-family: 'Fredoka One', sans-serif;
  display: flex;
  margin-left: 6vw;
}

.input-field {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
}

#genre {
  color: white;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: auto;
  /* Full width */
  height: auto;
  /* Full height */
  /* overflow: auto; */
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: red;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  color: black;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

button {
  margin: 10px;
}

.circle {
  width: 60px !important;
  height: 60px !important;
}

i {
  padding-left: 10px;
}

.collection .collection-item {
  background-color: rgba(255, 255, 255, .7);
}

.collection .collection-item img {
  object-fit: cover;
  object-position: center;
}

li a {
  text-decoration: underline;
}

.blue-text {
  font-weight: 800;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
}

.currently {
  width: fit-content;
  background-color: rgba(2, 2, 2, .5);
  border-radius: 10px;
  padding: 10px;
}